/* colors */

* {
  background:                         #16171dff;
  background-alt:                 #00000000;
  foreground:                     #ffffffA6;
  border:               			    #580088ff;
  border-alt:               		  #282A36ff;
  selected:               		    #282A36ff;
  urgent:                         #DA4453FF;
}
